.root {
  padding: 10px 15px;
  cursor: pointer;

  background: none;

  border: 1px solid var(--ocean-color);
  border-radius: 4px;
}

.contained {
  background: var(--ocean-color);
  color: var(--text-primary);

  &:hover {
    background: none;
    color: var(--ocean-color);
    border: 1px solid var(--ocean-color);

    transition: 0.2s;
  }

  &:active {
    background: var(--ocean-color);
    color: var(--text-primary);
  }
}

.outlined {
  border: 1px solid var(--ocean-color);
  color: var(--ocean-color);

  background: none;

  &:hover {
    background: var(--ocean-color);
    color: var(--text-primary);;
  }
}

.variantText {
  border: none;
  color: var(--ocean-color);

  &:hover {
    background: rgba( 20, 112, 155, 0.1);

    transition: 0.3s;
  }
}
