@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,700;1,800&display=swap');

* {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* basic colors */
    --gray-0-color: #000;
    --gray-10-color: #1A1A1A;
    --gray-13-color: #202020;
    --gray-14-color: #242424;
    --gray-20-color: #333;
    --gray-30-color: #4D4D4D;
    --gray-40-color: #666;
    --gray-50-color: #808080;
    --gray-60-color: #999;
    --gray-70-color: #B3B3B3;
    --gray-80-color: #CCC;
    --gray-85-color: #D9D9D9;
    --gray-90-color: #E6E6E6;
    --gray-95-color: #F2F2F2;
    --gray-96-color: #F5F5F5;
    --gray-98-color: #FAFAFA;
    --gray-100-color: #FFF;

    /* spacing */
    --spacing-xs: 30px;
    --spacing-s: 45px;
    --spacing-m: 60px;
    --spacing-l: 90px;
    --spacing-xl: 180px;

    /* colors */
    --primary: #044C91;
    --secondary: #9ABFAE;

    --mistake-color: #EA6767;
    --success-color: #00844D;

    --text-primary: var(--gray-100-color);
    --text-secondary: var(--navy-color);

    --navy-color: #0D4B68;
    --ocean-color: #14709B;
    --dark-mint-color: #026670;

    /*--eucalyptus-color: #20B074;*/
    /*--eucalyptus-color-30: rgba(32, 176, 116, 0.3);*/
}
