.root {
  cursor: pointer;
  border: none;
  background: none;
  height: 20px;

  position: absolute;
  right: 15px;
  top: 10px;

  &:hover {
    color: red
    //svg {
    //  fill: red;
    //  transition: 0.2s;
    //}
  }

  &:focus {
    color: #B00000
  }
}
