.root {
  padding: 10px 15px ;
  background: var(--primary);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 4px var(--primary);
  color: var(--text-primary);
}

.logo {
  user-select: none;
  text-transform: uppercase;
}
